.features {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}
.features__item {
  //   width: 270px;
  margin: 15px;
  flex-basis: calc((100% - 60px) / 2);
  // &:not(:last-child) {
  //   margin-bottom: 30px;
  // }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.features__box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: $secbgc;
  border-radius: 4px;
}
.features__title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: $text-color-sec;
}
.section__title--visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
