.features {
  display: flex;
}
.features__item {
  width: 270px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.features__box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: $secbgc;
  border-radius: 4px;
}
.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: $text-color-sec;
}
.section__title--visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
