.footer-contacts {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}
.adress {
  font-style: normal;
}
.adress__list {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.adress__link {
  transition: color $transition-duration $timing-function;
  color: rgba(255, 255, 255, 0.6);
  &:focus,
  &:hover {
    color: $text-color-logo;
  }
  &--color {
    color: $text-color-white;
  }
}

.adress__item:not(:last-child) {
  @media screen and (max-width: 1199px) {
    margin-bottom: 8px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}
