.contacts-nav {
  justify-content: center;
  display: flex;
  margin-left: auto;
}
.contacts-nav__item:not(:last-child) {
  margin-right: 50px;
}
.contacts-nav__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $text-color-main;
  transition: color $transition-duration $timing-function;
  &:hover,
  &:focus {
    color: $text-color-logo;
  }
}

.contacts-nav__icon {
  fill: currentColor;
  margin-right: 10px;
}
