.contacts-nav {
  //   justify-content: center;
  //   display: flex;
  //   margin-left: auto;
  margin-bottom: 64px;
}
.contacts-nav__item:not(:last-child) {
  margin-bottom: 32px;
}
.contacts-nav__link {
  //   display: flex;
  //   align-items: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: $text-color-main;
  transition: color $transition-duration $timing-function;
  &:hover,
  &:focus {
    color: $text-color-logo;
  }
  &--mob-menu {
    font-size: 34px;
    line-height: 1.17;
    color: $text-color-logo;
  }
}

.contacts-nav__icon {
  @media screen and (max-width: 767px) {
    display: none;
    fill: currentColor;
    margin-right: 10px;
  }
}
