.contacts {
  @media screen and (min-width: 768px) {
  }
}

.contacts-nav {
  //   justify-content: center;
  @media screen and (max-width: 767px) {
    margin-bottom: 64px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column-reverse;
  }
}
.contacts-nav__item {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 32px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:not(:first-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.contacts-nav__link {
  @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: 1.16;
    &--mob-menu {
      font-size: 34px;
      line-height: 1.17;
      color: $text-color-logo;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.16;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    line-height: 1.14;
  }

  font-weight: 500;
  letter-spacing: 0.02em;
  color: $text-color-main;
  transition: color $transition-duration $timing-function;
  &:hover,
  &:focus {
    color: $text-color-logo;
  }
}

.contacts-nav__icon {
  fill: currentColor;
  @media screen and (max-width: 767px) {
    display: none;
    margin-right: 10px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 8px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}
