.hero {
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 1600px;
  background-position: center;
  background-size: cover;
  background: $herobgc;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/herobgc.jpg);
}
.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $text-color-white;
}
.hero__button {
  cursor: pointer;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $text-color-white;
  min-width: 200px;
  min-height: 50px;
  background-color: $text-color-logo;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
}
