.page-header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}
.container--flex {
  display: flex;
  align-items: center;
}
.site-nav {
  margin-left: 93px;
}
