.gallery {
  display: flex;
  flex-wrap: wrap;
}
.gallery__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $text-color-sec;
}
.gallery__text {
  color: $text-color-main;
  font-size: 16px;
  line-height: 1.87;
}
.gallery__item {
  margin-bottom: 30px;
  margin-right: 30px;

  &:nth-child(3n) {
    margin-right: 0;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}
.gallery__link {
  display: block;
  transition: box-shadow $transition-duration $timing-function;

  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.gallery__overlay {
  position: relative;
  overflow: hidden;
}
.gallery__overlay-text {
  position: absolute;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  transform: translateY(0%);
  transition: transform $transition-duration $timing-function;
  background-color: rgba(33, 150, 243, 0.9);
  color: $text-color-white;
}
.gallery__link:hover .gallery__overlay-text,
.gallery__link:focus .gallery__overlay-text {
  transform: translateY(-100%);
}
.gallery__tumb {
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-color: #eeeeee;
  padding: 20px 24px;
}
