$text-color-logo: #2196f3;
$text-color-sec: #212121;
$text-color-main: #757575;
$text-color-white: #ffffff;
$herobgc: #2f303a;
$mainbgc: #ffffff;
$secbgc: #f5f4fa;
$iconsfill: #afb1b8;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;
$hero-gradient: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
